<a href="https://colab.research.google.com/github/DataCrusade1999/Python/blob/master/Scikit%5B1%5D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [157]:
import io
import numpy as np
import pandas as pd
import datetime
from google.colab import files

**LOADING DATA**

In [158]:
url='https://raw.githubusercontent.com/DataCrusade1999/Python/master/Data/Books_small.csv'

In [159]:
Books_small=pd.read_csv(url)
Books_small.head()

       reviewerID        asin  ... unixReviewTime   reviewTime
0   A1E5ZR1Z4OQJG  1495329321  ...     1396137600  03 30, 2014
1  A30PZPI6FPH0A7  0399157565  ...     1400112000  05 15, 2014
2  A1GQ2UI5BKCCRD  0984528105  ...     1401235200  05 28, 2014
3  A2DF4LQQI6KSQ2  0804139024  ...     1396483200   04 3, 2014
4   A1UAMAWY966P2  0765317583  ...     1397001600   04 9, 2014

[5 rows x 10 columns]

**PERFORMING EDA**

**In the first case below, we say "give us the values of the rows with index from 0 to 999 (inclusive) and columns labeled from "reviewText" to "overall" (inclusive)". In the second case, we say "give us the values of all the rows in the columns 5 to 7" (as in a typical Python slice: the maximal value is not included).**

In [160]:
Books_small.loc[0:,'reviewText':'overall']

                                            reviewText  overall
0    Da Silva takes the divine by storm with this u...      4.0
1    For me personally it's the most disappointing ...      2.0
2    Very simple book, but leaves you feeling good....      4.0
3    I read a library copy of this exceptionally we...      5.0
4    With the government knowing this could happen ...      5.0
..                                                 ...      ...
995  I thoroughly enjoyed this book. I've read the ...      5.0
996  I was impressed with not only the characters o...      5.0
997  I like the characters.  I had read the short s...      5.0
998  She got way she wanted,but can she pick the ri...      5.0
999  All these twists, turns and discoveries. There...      5.0

[1000 rows x 2 columns]

In [161]:
Books_small.iloc[0:,5:7]

                                            reviewText  overall
0    Da Silva takes the divine by storm with this u...      4.0
1    For me personally it's the most disappointing ...      2.0
2    Very simple book, but leaves you feeling good....      4.0
3    I read a library copy of this exceptionally we...      5.0
4    With the government knowing this could happen ...      5.0
..                                                 ...      ...
995  I thoroughly enjoyed this book. I've read the ...      5.0
996  I was impressed with not only the characters o...      5.0
997  I like the characters.  I had read the short s...      5.0
998  She got way she wanted,but can she pick the ri...      5.0
999  All these twists, turns and discoveries. There...      5.0

[1000 rows x 2 columns]

In [162]:
Books_small.shape

(1000, 10)

In [163]:
Books_small['overall'].value_counts() #<---Gives Us Number Of Occurences Of A Particular Value in Digits

5.0    609
4.0    226
3.0    103
2.0     41
1.0     21
Name: overall, dtype: int64

In [164]:
Books_small['overall'].value_counts(normalize=True)  #<---Gives Us Number Of Occurences Of A Particular Value in Fractions

5.0    0.609
4.0    0.226
3.0    0.103
2.0    0.041
1.0    0.021
Name: overall, dtype: float64

In [165]:
Books_small.sort_values(by='overall', ascending=False).head() #<--Starts From Big And Goes Down

         reviewerID        asin  ... unixReviewTime   reviewTime
500  A11ESW62XMUL6H  B0043GX2FW  ...     1397088000  04 10, 2014
584  A2WXVAY473ST5N  1476726507  ...     1389916800  01 17, 2014
569  A32VCGCYYRP8M4  1475051417  ...     1397779200  04 18, 2014
570  A18NZFQ268AW0Z  B00JAOKSBI  ...     1397692800  04 17, 2014
571  A1UKSR0NE9B0KX  0983706352  ...     1404864000   07 9, 2014

[5 rows x 10 columns]

In [166]:
Books_small.sort_values(by='overall', ascending=True).head() #<--Starts From Low And Goes Up

         reviewerID        asin  ... unixReviewTime   reviewTime
30   A2PNJCX5LJOUKG  B00BF3EILI  ...     1400284800  05 17, 2014
731   ASW9NL0GHXFWW  0615579930  ...     1404604800   07 6, 2014
834   ARBELHYW35HQI  B00FIUHQP4  ...     1388707200   01 3, 2014
190  A2HVU3WFPAPT0X  B00I1P2QPI  ...     1391385600   02 3, 2014
966  A2MW2B7DMR057R  0938045040  ...     1391644800   02 6, 2014

[5 rows x 10 columns]

In [167]:
Books_small.describe()

       helpful__001  helpful__002      overall  unixReviewTime
count   1000.000000   1000.000000  1000.000000    1.000000e+03
mean       0.595000      0.819000     4.361000    1.396805e+09
std        2.624092      3.589028     0.967272    5.078227e+06
min        0.000000      0.000000     1.000000    1.388534e+09
25%        0.000000      0.000000     4.000000    1.392422e+09
50%        0.000000      0.000000     5.000000    1.396483e+09
75%        1.000000      1.000000     5.000000    1.401257e+09
max       65.000000     86.000000     5.000000    1.406074e+09

In [168]:
Books_small.head()

       reviewerID        asin  ... unixReviewTime   reviewTime
0   A1E5ZR1Z4OQJG  1495329321  ...     1396137600  03 30, 2014
1  A30PZPI6FPH0A7  0399157565  ...     1400112000  05 15, 2014
2  A1GQ2UI5BKCCRD  0984528105  ...     1401235200  05 28, 2014
3  A2DF4LQQI6KSQ2  0804139024  ...     1396483200   04 3, 2014
4   A1UAMAWY966P2  0765317583  ...     1397001600   04 9, 2014

[5 rows x 10 columns]

In [169]:
Books_small.tail()

         reviewerID        asin  ... unixReviewTime   reviewTime
995  A1Q3P5W409XK8I  0385346824  ...     1404691200   07 7, 2014
996   AOFXJE92VZHJA  B00J9312KQ  ...     1400371200  05 18, 2014
997  A1OH43Q6Q05ULQ  0553808036  ...     1396915200   04 8, 2014
998  A34QXHSIS1IFNS  B00BPTTFOW  ...     1401408000  05 30, 2014
999   A1L1PDGJNOKGA  1490321101  ...     1395187200  03 19, 2014

[5 rows x 10 columns]

In [170]:
Books_small.columns

Index(['reviewerID', 'asin', 'reviewerName', 'helpful__001', 'helpful__002',
       'reviewText', 'overall', 'summary', 'unixReviewTime', 'reviewTime'],
      dtype='object')

In [171]:
Books_small.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   reviewerID      1000 non-null   object
 1   asin            1000 non-null   object
 2   reviewerName    998 non-null    object
 3   helpful__001    1000 non-null   int64
 4   helpful__002    1000 non-null   int64
 5   reviewText      1000 non-null   object
 6   overall         1000 non-null   float64
 7   summary         1000 non-null   object
 8   unixReviewTime  1000 non-null   int64
 9   reviewTime      1000 non-null   object
dtypes: float64(1), int64(3), object(6)
memory usage: 78.2+ KB

In [172]:
Books_small.index

RangeIndex(start=0, stop=1000, step=1)

In [173]:
Books_small.isnull()

     reviewerID   asin  reviewerName  ...  summary  unixReviewTime  reviewTime
0         False  False         False  ...    False           False       False
1         False  False         False  ...    False           False       False
2         False  False         False  ...    False           False       False
3         False  False         False  ...    False           False       False
4         False  False         False  ...    False           False       False
..          ...    ...           ...  ...      ...             ...         ...
995       False  False         False  ...    False           False       False
996       False  False         False  ...    False           False       False
997       False  False         False  ...    False           False       False
998       False  False         False  ...    False           False       False
999       False  False         False  ...    False           False       False

[1000 rows x 10 columns]

In [174]:
Sentiments=[]
for num in Books_small['overall']:
  if num>=3.5:
    Sentiments.append("Positive")
  else:
    Sentiments.append("Negative")
print(len(Sentiments))

1000

In [175]:
data={'Ratings':Books_small['overall'],'Sentiments':Sentiments,'Customer Reviews':Books_small['reviewText']}
Target_Data=pd.DataFrame(data)
Target_Data.sample(5)

     Ratings Sentiments                                   Customer Reviews
269      4.0   Positive  This is an excellent book that does not take s...
326      5.0   Positive  this is without a doubt one of the BEST sci-fi...
393      5.0   Positive         Gave it as a gift, big hit!  Great seller.
203      2.0   Negative  I did not like her style of writing.  Too word...
529      4.0   Positive  I received this book via NetGalley to give an ...